<div class="pt-4 pb-4">
  <h1 class="mt-0 mb-4 text-center">🏃 Running calculators 👟</h1>

  <rc-navigation></rc-navigation>
</div>

<div class="bg-light pt-4 pb-4">
  <router-outlet></router-outlet>


  <h2 class="mb-4 text-center">Pace calculator</h2>
  <form>
    <div class="container">
      <div class="row">
        <div class="col-4 offset-2">
          <h3 class="h4">Distance</h3>
          <div class="form-group">
            <label for="distance_km">Kilometers</label>
            <input id="distance_km" class="form-control" type="number">
          </div>
          <div class="form-group">
            <label for="distance_m">Meters</label>
            <input id="distance_m" class="form-control" type="number">
          </div>
        </div>
        <div class="col-4">
          <h3 class="h4">Time</h3>
          <div class="form-group">
            <label for="time_hours">Hours</label>
            <input id="time_hours" class="form-control" type="number">
          </div>
          <div class="form-group">
            <label for="time_minutes">Minutes</label>
            <input id="time_minutes" class="form-control" type="number">
          </div>
          <div class="form-group">
            <label for="time_seconds">Seconds</label>
            <input id="time_seconds" class="form-control" type="number">
          </div>
        </div>
      </div>
      <div class="col-8 offset-2 text-center">
        <button class="btn btn-primary btn-lg">
          ⏱ Calculate pace
        </button>

        <div class="alert alert-primary mt-4" role="alert">
          Your pace: <span class="font-weight-bold">5:19 / km</span><br>
          <br>
          Your pace has been added to <a href="#pace-319">the table below</a>.
        </div>
      </div>
    </div>
  </form>
</div>

<rc-timetable></rc-timetable>
