<h3 class="h4">Distance</h3>
<ul>
  <li><a href="">100m</a></li>
  <li><a href="">1K</a></li>
  <li><a href="">5K</a></li>
  <li><a href="">10K</a></li>
  <li><a href="">Half marathon</a></li>
  <li><a href="">Marathon</a></li>
</ul>

<div class="form-group">
  <label for="distance_km">Kilometers</label>
  <input
    id="distance_km"
    class="form-control"
    [ngClass]="{
      'is-invalid': distanceForm.get('kilometers').invalid
    }"
    type="number"
    [formControl]="distanceForm.get('kilometers')">

  <rc-error-message *ngIf="distanceForm.get('kilometers').invalid"></rc-error-message>
</div>

<div class="form-group">
  <label for="distance_m">Meters</label>
  <input
    id="distance_m"
    class="form-control"
    [ngClass]="{
      'is-invalid': distanceForm.get('meters').invalid
    }"
    type="number"
    [formControl]="distanceForm.get('meters')">

  <rc-error-message *ngIf="distanceForm.get('meters').invalid"></rc-error-message>
</div>
