<h3 class="h4">Distance</h3>
<ul>
  <li><button class="btn btn-link p-0 border-0" (click)="setDistance(0, 100)">100m</button></li>
  <li><button class="btn btn-link p-0 border-0" (click)="setDistance(1, 0)">1K</button></li>
  <li><button class="btn btn-link p-0 border-0" (click)="setDistance(5, 0)">5K</button></li>
  <li><button class="btn btn-link p-0 border-0" (click)="setDistance(10, 0)">10K</button></li>
  <li><button class="btn btn-link p-0 border-0" (click)="setDistance(21, 100)">Half marathon</button></li>
  <li><button class="btn btn-link p-0 border-0" (click)="setDistance(42, 195)">Marathon</button></li>
</ul>

<rc-form-input-integer
  id="distance_km"
  label="Kilometers"
  [control]="distanceForm.get('kilometers')">
</rc-form-input-integer>

<rc-form-input-integer
  id="distance_m"
  label="Meters"
  [control]="distanceForm.get('meters')">
</rc-form-input-integer>
