<div class="container">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th class="sticky-top border-top-0">Pace</th>
        <th class="sticky-top border-top-0">Speed</th>
        <th class="sticky-top border-top-0 text-right">1 km</th>
        <th class="sticky-top border-top-0 text-right">5 km</th>
        <th class="sticky-top border-top-0 text-right">10 km</th>
        <th class="sticky-top border-top-0 text-right">21.1 km</th>
        <th class="sticky-top border-top-0 text-right">42.195 km</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows">
        <th class="text-nowrap">{{row[0] | rcPace}}</th>
        <th class="text-nowrap">{{row[1] | rcSpeed}}</th>
        <td class="text-nowrap text-right">{{row[2] | rcTime}}</td>
        <td class="text-nowrap text-right">{{row[3] | rcTime}}</td>
        <td class="text-nowrap text-right">{{row[4] | rcTime}}</td>
        <td class="text-nowrap text-right">{{row[5] | rcTime}}</td>
        <td class="text-nowrap text-right">{{row[6] | rcTime}}</td>
      </tr>
    </tbody>
  </table>
</div>
