<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 mb-4">
      <div class=" text-center">
        <h2>Distance calculator</h2>
        <p>How far can you run? Enter a pace and a time to calculate the distance.</p>
      </div>
    </div>
  </div>

  <form [formGroup]="distanceForm" (ngSubmit)="calculate()">
    <div class="row">
      <div class="col-md-4 offset-md-2 mb-4 mb-md-2">
        <rc-pace-form [parentForm]="distanceForm"></rc-pace-form>
      </div>
      <div class="col-md-4 mb-4 mb-md-2">
        <rc-time-form [parentForm]="distanceForm"></rc-time-form>
      </div>
    </div>

    <div class="col-8 offset-2 text-center">
      <button class="btn btn-primary btn-lg" type="submit">
        Calculate distance
      </button>

      <div *ngIf="distanceInMeters" class="alert alert-primary mt-4" role="alert" [rcScrollIntoView]="distanceInMeters">
        Your distance: <span class="font-weight-bold">{{ distanceInMeters | rcDistance }}</span>
      </div>
    </div>
  </form>
</div>

